<h1>Carga de usuarios</h1>

<p>Ingresá tu nombre y tu edad</p>

<form id="formulario">
  <label for="nombre">Nombre</label><br />
  <input type="text" id="nombre" name="nombre" required /><br /><br />

  <label for="edad">Edad</label><br />
  <input type="number" id="edad" name="edad" min="1" required /><br /><br />

  <div id="error"></div>
  <br>
  <div class="alineado-boton">
    <button type="submit">Enviar</button>
  </div>
</form>

<br /><br />
<div class="info-links">
  <a href="/usuarios">Ver lista de usuarios registrados</a>
</div>